<footer>
    <a href="https://patreon.com/draganrocks">Please support my work on Patreon</a> by <a href="https://dragan.rocks/articles/18/Patreon-Announcement-Adopt-a-Function">adopting a pet Neanderthal function in your name!</a> I'll intive you to a dedicated <a href="https://discordapp.com">Discord</a> discussion server. Can't afford to donate? Ask for a free invite.
  <hr class="slender">
  <ul class="footer-links">
      {% for entry in site.data.social %}
      <li>
        <a href="{{ entry.link }}"><span class="{{ entry.icon }}"></span></a>
      </li>
    {% endfor %}
  </ul>
<div class="credits">
<span>&copy; {{ site.time | date: '%Y' }} &nbsp;&nbsp;{{site.author | upcase }}</span></br> <br>
</div>
</footer>
