---
layout: default
---
<h1>{{ page.title}}</h1>
Need help with your custom Clojure software? I'm open to (selected) contract work.
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>
<p>
    Please share: <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large">Twitter</a>.
</p>

<p>
    <a href="https://aiprobook.com">These books fund my work! Please check them out.</a>
    <div class="h-25 d-inline-block">
        <a href="https://aiprobook.com/deep-learning-for-programmers">
            <img src="http://aiprobook.com/img/dlfp-cover.png" style="max-width: 150px;"></img>
        </a>
        <a href="https://aiprobook.com/numerical-linear-algebra-for-programmers">
            <img src="http://aiprobook.com/img/lafp-cover.png" style="max-width: 150px;"></img>
        </a>
    </div>
</p>

{{ content }}
