---
layout: default
---
<h1>{{ page.title}}</h1>
You can <a href="https://dragan.rocks/articles/18/Patreon-Announcement-Adopt-a-Function">adopt a pet function!</a>
Support my work on <a href="https://patreon.com/draganrocks">Patreon</a>, and access my <a href="https://dragan.rocks/articles/18/Ditching-Slack-Opening-Place-Personal-Interaction">dedicated discussion server</a>. Can't afford to <a href="https://patreon.com/draganrocks">donate</a>? Ask for a free invite.
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>
<p>
    Please share: <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large"> Please share on Twitter.</a>
</p>
{{ content }}
