---
layout: default
---
<span><a href="https://patreon.com/draganrocks">Please support this work on Patreon</a> by <a href="https://dragan.rocks/articles/18/Patreon-Announcement-Adopt-a-Function">adopting a pet Neanderthal function in your name!</a></span>
<p>
    <a href="https://www.patreon.com/bePatron?u=780511" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </p>
<h1>{{ page.title}}</h1>
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>

{{ content }}
